.header-button-container {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}

.header-button-container a {
    margin: 15px 0 0 40px;
    font-family: roboto, arial;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: inherit;
}

.header-button-container li:hover {
    opacity: 50%;
}