.title {
    font-family: poppins, arial;
    font-size: 130px;
    margin: 5%;
    font-weight: 700;
    margin-bottom: 180px;
}

.main-background {
    width: 100%;
    display: flex;
    align-items: start;
    height: 30px;
    overflow: hidden;
    opacity: 30%;
}

.main-background img {
    width: 100%;
}

.music-showcase h2 {
    text-align: center;
    font-family: poppins, arial;
    font-weight: 500;
    font-size: 30px;
    margin-top: 60px;
}

.featured-music {
    width: 640px;
    height: 360px;
    margin: 0 0 0 80px;
}

.featured-music-caption {
    font-size: 40px;
    font-family: poppins, arial;
    font-weight: 500;
    margin: 20px 0 20px 20px;
    text-align: left;
}

.featured-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
}

.featured-music-description {
    font-size: 20px;
    margin: 0 0 0 20px;
}