@media (max-width: 768px) {
    .title {
        font-size: 65px;
        margin-bottom: 90px;
    }
    .header-button-container li {
        font-size: 12px;
        margin: 8px 0 0 20px
    }
    .music-showcase h2 {
        font-size: 20px;
        margin-top: 40px;
    }
}